.container {
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

.login-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;

    padding-top: 1rem;
    padding-bottom: 1rem;
};
 
.form-container {
    max-width: 300px;
    width: 100%;
}
  